.clear {
	clear: both;
}

ul {
	list-style-type:none;
	padding:0;
	margin:0;
}

ul#nav li {
	background-color: #FFF;
	float:left;
}

ul#nav li a {
	display:block;
	padding:5px 10px;
	color:#000;
	text-decoration:none;
	border-bottom: 1px solid #ccc;
  background-color: #FF7F50;
  border: 2px solid #333;
}

ul#nav li a:hover {
	background-color:#aaa;
}

ul#nav li ul li {
	float:none;
	cursor: pointer;
}

ul#nav li ul {
	position: absolute;
	display: none;
}

ul#nav li:hover ul {
	display:block;
}
